@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    /* display: flex;
    flex-wrap: wrap;
    align-items: center; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #ff9100;
  }

  li > img {
    width: 2em;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }