@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

body {
  font-family: "Roboto", serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
  animation: fadeIn 1s ease-in-out forwards;
}

.widget-facebook {
  display: flex;
  border: none;
  overflow: hidden;
  float: right;
  margin-left: 30px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.widget-facebook iframe {
  max-width: 350px;
  height: 500px;
  border: 2px solid #007bff;
  box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.3);
  border-radius: 5px;
}

.titulo-widget-facebook {
  background: linear-gradient(to bottom, #0056b3, #007bff);
  border-radius: 8px 8px 0 0;
  box-shadow: 0px 0px 14px rgba(0, 123, 255, 0.3);
  padding: 0.3em;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
}

.img-logo-main {
  display: flex;
  justify-content: center;
}

.img-logo-main > img {
  width: 20%;
}

#navbar {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  animation: slideInFromTop 1s ease-in-out;
}

.topnav {
  top: -60px;
  display: flex;
  justify-content: center;
  transition: top 0.5s ease;
}

.topnav.sticky {
  background: #0056b3;
  border-bottom: 1px solid #005b95;
  color: white;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.7);
  position: sticky;
  top: 0;
  z-index: 1000;
  display: block;
}

.topnav.hidden {
  top: -60px;
}

.topnav.sticky ul {
  background: #0056b3;
  margin: 0;
  box-shadow: none;
}

.topnav.sticky ul li > a {
  padding: 14px 0px 16px 0px;
  font-style: normal;
  border: none;
  color: white;
  transition: color 0.3s ease;
}

.topnav.sticky ul li > a:hover {
  color: #c9c9c9;
  text-shadow: -0.7px -0.7px 0 #757575, 0.7px -0.7px 0 #757575,
    -0.7px 0.7px 0 #757575, 0.7px 0.7px 0 #757575;
}

ul {
  list-style-type: none;
  overflow: hidden;
  width: 50%;
  text-decoration: underline;
  background: linear-gradient(to bottom, #0056b3, #007bff);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
  padding: 14px 0 14px 0;
  text-decoration: none;
  border-bottom: 2px solid #0056b3;
  transition: color 0.3s ease;
}

li a:hover {
  color: #97c9ff;
  text-shadow: -0.7px -0.7px 0 #0056b3, 0.7px -0.7px 0 #0056b3,
    -0.7px 0.7px 0 #0056b3, 0.7px 0.7px 0 #0056b3;
}

li > img {
  width: 2em;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.contenedor-widget {
  width: 100%;
  max-width: 400px;
  margin: 0 auto 0 auto;
}

.contenedor-widget > h1 {
  text-align: center;
  background: linear-gradient(to bottom, #0056b3, #007bff);
  border-radius: 5px;
  color: white;
  padding: 0.3em;
  box-shadow: 0px 0px 14px rgba(0, 123, 255, 0.3);
}

.contenedor-widget .spww {
  box-shadow: 0px 0px 14px rgba(0, 123, 255, 0.3);
}

.contenedor-custom {
  display: flex;
  background: linear-gradient(135deg, #2a2d3e, #1a1d2b);
  border: 2px solid #007bff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.3);
  padding: 15px;
  color: white;
  text-align: center;
  margin: 0 auto 0;
  width: 500px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.contenedor-custom .titulo {
  background: linear-gradient(to bottom, #0056b3, #007bff);
  padding: 10px;
  border-radius: 8px 8px 0 0;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
}

.contenedor-custom button {
  background: linear-gradient(to bottom, #0056b3, #007bff);
  border: none;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  color: white;
  cursor: pointer;
  border-radius: 1em;
  padding: 0.7em;
  width: 100%;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}

.contenedor-custom button:hover {
  background: rgb(0, 123, 255);
  box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.3);
  transform: translateY(-2px);
}

.contenedor-custom img {
  width: 125px;
  height: auto;
  margin: 10px;
}

.contenedor-custom-news {
  display: flex;
  background: linear-gradient(135deg, #2a2d3e, #1a1d2b);
  border: 2px solid #007bff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.3);
  padding: 15px;
  color: white;
  text-align: center;
  margin: 0 auto 0;
  max-width: 1024px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.contenedor-custom-news p {
  line-height: 1.8em;
  text-align: justify;
}

.contenedor-widget-news > h1 {
  text-align: center;
  background: linear-gradient(to bottom, #0056b3, #007bff);
  border-radius: 5px;
  color: white;
  padding: 0.3em;
  box-shadow: 0px 0px 14px rgba(0, 123, 255, 0.3);
}

.contenedor-widget-news {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto 0;
  overflow: hidden;
}

.contenedor-custom-stats {
  display: flex;
  background: linear-gradient(135deg, #2a2d3e, #1a1d2b);
  border: 2px solid #007bff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.3);
  padding: 15px;
  color: white;
  text-align: center;
  margin: 10px auto 0;
  max-width: 370px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.stats-table {
  margin: 10px;
}

.contenedor-custom-stats .titulo {
  background-color: #007bff;
  padding: 10px;
  border-radius: 8px 8px 0 0;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
}

.contenedor-jugadores {
  background: linear-gradient(135deg, #2a2d3e, #1a1d2b);
  color: white;
  padding: 10px;
  margin: 0 25px 100px 25px;
  border-radius: 20px;
  box-shadow: 0px 0px 14px rgba(0, 123, 255, 0.3);
}

.btn-volver {
  background: linear-gradient(to bottom, #0056b3, #007bff);
  border: none;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  color: white;
  cursor: pointer;
  border-radius: 1em;
  padding: 0.7em;
  margin: 2em;
  display: block;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}

.btn-volver:hover {
  background: rgb(0, 123, 255);
  box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.3);
  transform: translateY(-2px);
}

.excel-container {
  text-align: center;
  margin-bottom: 150px;
}

.excel-container > iframe {
  height: 500px;
  width: 80%;
  border: 2px solid #007bff;
  box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.3);
  border-radius: 5px;
}

.stats-test {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 4em;
}

.stats-test > .contenedor-custom-stats {
  margin: 1em;
}

.derecha {
  width: 40%;
  margin-bottom: 50px;
}

.izquierda {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 60%;
}

.izquierda > .contenedor-widget {
  max-width: 534px;
}

.layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
th,
td {
  padding: 8px;
  border: 1px solid #ddd;
}

.jugadores-lista {
  border: 1px solid #ccc;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-top: 20px;
  color: rgb(255, 255, 255);
}

.jugador {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #eef;
  border-radius: 5px;
  color: rgb(255, 255, 255);
}

.page-footer {
  padding: 30px;
  background: #0056b3;
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-top: 1px solid #005b95;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.7);
  animation: slideInFromBottom 1s ease-in-out;
}

.player-div-container {
  margin: 1em;
}

.player-div-container > h1 {
  text-align: center;
}

#jugadores-container {
  color: white;
}

.barra-izquierda,
.barra-derecha {
  position: fixed;
  top: 0;
  width: 200px;
  height: 100%;
  background-image: url("./img/trama-slider.png");
  background-repeat: repeat;
  background-size: contain;
  z-index: -1;
  overflow: hidden;
  opacity: 0.8;
  animation: fadeInOpacity 1s ease-in-out forwards;
}

.barra-izquierda {
  left: 50px;
}

.barra-derecha {
  right: 50px;
  transform: scaleX(-1);
}

@media (max-width: 1660px) {
  .barra-derecha {
    display: none;
  }

  .barra-izquierda {
    left: 0;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .contenedor-custom {
    margin: 25px auto 0;
    width: 80%;
  }

  .contenedor-widget-news {
    justify-items: center;
    width: 95%;
  }

  .contenedor-widget-news > h1 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .widget-facebook {
    float: none;
    margin: 20px auto;
    width: 90%;
  }

  .widget-facebook iframe {
    max-width: 100%;
    height: 400px;
  }

  .titulo-widget-facebook {
    font-size: 16px;
    padding: 0.5em;
  }
  .layout {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .derecha {
    width: 100%;
  }

  .contenedor-custom {
    width: auto;
    margin: 0;
  }

  .contenedor-custom-news {
    width: 80%;
  }

  .izquierda {
    width: 100%;
  }

  .contenedor-widget-news > h1 {
    width: 80%;
  }

  .stats-test .contenedor-custom-stats {
    width: 80%;
  }

  .contenedor-widget {
    width: 100%;
  }

  .widget-title {
    width: 80%;
  }

  .contenedor-jugadores {
    margin: 0px 10px 100px 10px;
  }

  #jugadores-container {
    font-size: 0.5em;
  }

  .player-div-container {
    overflow: scroll;
  }
}

@media (max-width: 425px) {
  .topnav.sticky ul li > a {
    font-size: 1em;
  }

  .topnav ul li > a {
    font-size: 1em;
  }

  .topnav ul {
    width: 50%;
  }
}
